@page "/"
@using PizzaStore.Shared
@using PizzaStore.Client.Pages

<!-- Menu -->
<h1 xmlns="http://www.w3.org/1999/html">Our selection of pizzas</h1>

<DismissableAlert Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>

<button class="btn btn-default" onclick="@ToggleAlert">
     Toggle
</button>

<Timer TimeInSeconds="5" Tick="@DismissAlert" />

@foreach (var pizza in State.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.Name
        </div>

        <div class="col">
            @pizza.Price
        </div>

        <div class="col">
            <img src="@SpicinessImage(pizza.Spiciness)"
                 alt="@pizza.Spiciness" />
        </div>

        <div class="col">
            <button class="btn btn-success"
                    onclick="@(() => AddToBasket(pizza))">
                Add
            </button>
        </div>
    </div>
}
<!-- end Menu -->
<!-- Shopping Basket-->
@if (State.Basket.Orders.Any())
{
    <h1>Your current order</h1>
    @foreach (var (pizza, pos) in State.Basket.Orders.Select((id, pos) => (State.Menu.GetPizza(id), pos)))
    {
        <div class="row">
            <div class="col">
                @pizza.Name
            </div>

            <div class="col">
                @pizza.Price
            </div>

            <div class="col">
                <button class="btn btn-danger"
                        onclick="@(() => RemoveFromBasket(pos))">
                    Remove
                </button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"> Total:</div>
        <div class="col"> @State.TotalPrice</div>
        <div class="col"> </div>
    </div>
}
<!-- end Shopping Basket-->

<!-- Customer Entry-->
<h1>Please enter your details below</h1>
<fieldset>
    <p>

        <label for="name">Name:</label>
        <input id="name" bind="@State.Basket.Customer.Name"/>
@*          *@
@*                     .GetErrors(nameof(Customer.Name)) *@
@*                     .Any()) *@
@*                 { *@
@*                     <ul class="validation-error"> *@
@*                         @foreach (string error in State.Basket.Customer.GetErrors(nameof(Customer.Name))) *@
@*                         { *@
@*                             <li>@error</li> *@
@*                         } *@
@*                     </ul> *@
@*                 } *@
    </p>

    <p>
        <label for="street">Street:</label>
        <input  id="street" bind="@State.Basket.Customer.Street" />
@*         @if(State.Basket.Customer *@
@*                     .GetErrors(nameof(Customer.Street)) *@
@*                     .Any()) *@
@*                 { *@
@*                     <ul class="validation-error"> *@
@*                         @foreach (string error in State.Basket.Customer.GetErrors(nameof(Customer.Street))) *@
@*                         { *@
@*                             <li>@error</li> *@
@*                         } *@
@*                     </ul> *@
@*                 } *@
    </p>

    <p>
        <label for="city">City:</label>
        <input id="city" bind="@State.Basket.Customer.City" />
@*         @if(State.Basket.Customer *@
@*                     .GetErrors(nameof(Customer.City)) *@
@*                     .Any()) *@
@*                 { *@
@*                     <ul class="validation-error"> *@
@*                         @foreach (string error in State.Basket.Customer.GetErrors(nameof(Customer.City))) *@
@*                         { *@
@*                             <li>@error</li> *@
@*                         } *@
@*                     </ul> *@
@*                 } *@
    </p>

    <button onclick="@PlaceOrder" disabled="@State.Basket.Customer.HasErrors">Checkout</button>

</fieldset>
<!-- end Customer Entry-->

@* <p>@State.ToJson()</p> *@


@functions
{
    
    public DismissableAlert dismissableAlert;
        public bool ShowAlert { get; set; } = true;
        
        public void ToggleAlert()
        {
            ShowAlert = !ShowAlert;
        }
        public void DismissAlert()
        {
            dismissableAlert.Dismiss();
            StateHasChanged();
        }
    
    
    
    
    
    private State State { get; } = new State
    {
        Menu = new Menu
        {
            Pizzas = new List<Pizza>
        {
                new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy),
                new Pizza(2, "Margarita", 7.99M, Spiciness.None),
                new Pizza(3, "Diablo", 9.99M, Spiciness.Hot)
            }
        }
    };

    private string SpicinessImage(Spiciness spiciness) =>
        $"images/{spiciness.ToString().ToLower()}.png";

    private void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
        base.StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at position {pos}");
        State.Basket.RemoveAt(pos);
        StateHasChanged();
    }

    private void PlaceOrder()
    {
        Console.WriteLine("Placing order");
    }
}
