@page "/"
@using PizzaStore.Shared

<!-- Menu -->
 <PizzaList Title="Our selected list of pizzas"
            Menu="@State.Menu"
            Selected="@(pizza =>AddToBasket(pizza))" />
<!-- end Menu -->

<!-- Shopping Basket-->
<ShoppingBasket Title="Your current order"
                Basket="@State.Basket"
                GetPizzaFromId="@State.Menu.GetPizza"
                Selected="@(pos => RemoveFromBasket(pos))" />
<!-- end Shopping Basket-->

<!-- Customer Entry-->
<CustomerEntry Title="Please enter your details below"
               Customer="@State.Basket.Customer"
               Submit="@( (_) => PlaceOrder())" />
<!-- end Customer Entry-->

@* <p>@State.ToJson()</p> *@


@functions
{
    private State State { get; } = new State
    {
        Menu = new Menu
        {
            Pizzas = new List<Pizza>
        {
                new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy),
                new Pizza(2, "Margarita", 7.99M, Spiciness.None),
                new Pizza(3, "Diablo", 9.99M, Spiciness.Hot)
            }
        }
    };
    
    private void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
        StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at position {pos}");
        State.Basket.RemoveAt(pos);
        StateHasChanged();
    }

    private void PlaceOrder()
    {
        Console.WriteLine("Placing order");
    }
}
